<center>
  <%- include('alert/success')  %>
  <%- include('alert/error')  %>
  <%- include('alert/error2')  %>
</center>
<h1>Login</h1>
<form action="/auth/login" method="POST">
  <input type="username" name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <button>Submit</button>
</form>
<a href="/auth/register">Register</a>