<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment - Coding With Dani</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/payment.css">
</head>
<body>
  <div class="container">
    <h1>Payment</h1>
    <div class="payment-card">
      <h3>Dana</h3>
      <img src="../assets/img/payment/dana.jpg" alt="QR Code DANA">
      <p>Scan this QR Code using the DANA application to make payments.</p>
      <a href="../assets/img/payment/dana.jpg" download>
        <button class="btn-download" type="submit">Download Image</button>
      </a>
    </div>
    <div class="payment-card">
      <h3>GoPay</h3>
      <img src="../assets/img/payment/gopay.jpg" alt="QR Code GOPAY">
      <p>Scan this QR Code using the Gojek application to make payments.</p>
      <a href="../assets/img/payment/gopay.jpg" download>
        <button class="btn-download" type="submit">Download Image</button>
      </a>
    </div>
    <h3>Jangan lupa Screenshot bukti transfer, dan kirimkan bukti transfer (Screenshot) kepada kami lewat Email or WhatsApp</h3>
    <a href="mailto:cs.codingwithdani@gmail.com">
      <button class="btn-email" type="submit">Email</button>
    </a>
    <a href="https://wa.me/6289512545999">
      <button classs="btn-whatsapp" type="submit">WhatsApp</button>
    </a>
  </div>
</body>
</html>
