<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pricing - Coding With Dani</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/pricing.css">
</head>
<body>
  <div class="pricing-container">
    <div class="pricing-card">
      <h2>Premium Plan</h2>
      <h3>Rp. 50.000/Forever</h3>
      <ul>
        <li>Download Unlimited Source Code For All Project</li>
        <li>No Expiration</li>
      </ul>
      <a href="/checkout">
        <button type="submit">Select</button>
      </a>
    </div>
    <div class="pricing-card">
      <h2>Free Plan</h2>
      <h3>Rp. 0/Forever</h3>
      <ul>
        <li>Download Unlimited Source Code For Free Project</li>
        <li>No Expiration</li>
      </ul>
      <a href="/auth/register">
        <button type="submit">Select</button>
      </a>
    </div>
  </div>
</body>
</html>
