body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.payment-card {
  background-color: #121212;
  border-radius: 2em;
  box-shadow: 0 0 10px white;
  padding: 20px;
  margin-top: 40px;
  border: 1px solid gray;
}

.payment-card img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.payment-card p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

button {
    padding: 10px 20px;
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    border: 1px solid white;
    /*transform: rotate(1deg);*/
    transition: .2s;
}

.btn-download {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.btn-download:hover {
    background-color: transparent;
    border: 1px solid white;
    /*transform: rotate(1deg);*/
    transition: .2s;
}

.btn-email {
    padding: 10px 20px;
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 2em;
    margin-right: 5px;
    cursor: pointer;
}

.btn-email:hover {
    background-color: transparent;
    border: 1px solid white;
    /*transform: rotate(1deg);*/
    transition: .2s;
}

.btn-whatsapp {
    padding: 10px 20px;
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.btn-whatsapp:hover {
    background-color: transparent;
    border: 1px solid white;
    /*transform: rotate(1deg);*/
    transition: .2s;
}

@media screen and (max-width: 480px) {
  .container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
  .payment-card {
    padding: 10px;
  }
  
  .payment-card img {
    width: 150px;
    height: 150px;
  }
}
